# API Configuration
NUXT_PUBLIC_API_BASE_URL=http://localhost:3001/api

# Port Configuration
NUXT_PORT=3003

# Cookie Settings
NUXT_PUBLIC_COOKIE_SECURE=false

# Application Settings
NUXT_PUBLIC_APP_NAME=Haze Clue
